IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
PointerAlignment: Left

IndentAccessModifiers: false
AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: Inline
AlignTrailingComments: true
BreakBeforeBinaryOperators: All
ConstructorInitializerAllOnOneLineOrOnePerLine: true

BreakTemplateDeclarations: Yes

BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterControlStatement: true

BreakBeforeBraces: Stroustrup

ColumnLimit: 100